
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<div class="col-lg-6 grid-margin stretch-card" style="float: left">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h4 class="card-title mb-0">Sales Performance</h4>
                <div id="line-traffic-legend"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="mb-0 font-weight-medium">$5,341</h2>
                    <p class="mb-5 text-muted">Sales</p>
                </div>
                <div class="col-md-3">
                    <h2 class="mb-0 font-weight-medium">$1,334</h2>
                    <p class="mb-5 text-muted">Profits</p>
                </div>
            </div>
            <div class="k-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h4 class="card-title mb-0">Sales Performance</h4>
                <div id="line-traffic-legend"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="mb-0 font-weight-medium">$5,341</h2>
                    <p class="mb-5 text-muted">Sales</p>
                </div>
                <div class="col-md-3">
                    <h2 class="mb-0 font-weight-medium">$1,334</h2>
                    <p class="mb-5 text-muted">Profits</p>
                </div>
            </div>
            <div class="k-content">
                <div id="pie-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 grid-margin" style="float: left">
    <div class="card">
        <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Mixed Chart</h4>
        </div>
        <div class="card-body">
            <div class="k-content">
                <div id="chart2"></div>
            </div>
            <div class="mr-5" id="mixed-chart-legend"></div>
        </div>
    </div>
</div>

<script>
    $("#chart").kendoChart({
        title: {
            text: "TIEU DE THONG KE"
        },
        legend: {
            position: "bottom"
        },
        chartArea: {
            background: ""
        },
        seriesDefaults: {
            type: "line",
            style: "smooth"
        },
        series: [{
            name: "India",
            data: [3.907, 7.943, 7.848, 9.284, 9.263, 9.801, 3.890, 8.238, 9.552, 6.855]
        }, {
            name: "World",
            data: [1.988, 2.733, 3.994, 3.464, 4.001, 3.939, 1.333, -2.245, 4.339, 2.727]
        }, {
            name: "Russian Federation",
            data: [4.743, 7.295, 7.175, 6.376, 8.153, 8.535, 5.247, -7.832, 4.3, 4.3]
        }, {
            name: "Haiti",
            data: [-0.253, 0.362, -3.519, 1.799, 2.252, 3.343, 0.843, 2.877, -5.416, 5.590]
        }],
        valueAxis: {
            labels: {
                format: "{0}%"
            },
            line: {
                visible: false
            },
            axisCrossingValue: -10
        },
        categoryAxis: {
            categories: [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011],
            majorGridLines: {
                visible: false
            },
            labels: {
                rotation: "auto"
            }
        },
        tooltip: {
            visible: true,
            format: "{0}%",
            template: "#= series.name #: #= value #"
        }
    });

    $("#pie-chart").kendoChart({
        title: {
            position: "bottom",
            text: "Share of Internet Population Growth, 2007 - 2012"
        },
        legend: {
            visible: false
        },
        chartArea: {
            background: ""
        },
        seriesDefaults: {
            labels: {
                visible: true,
                background: "transparent",
                template: "#= category #: \n #= value#%"
            }
        },
        series: [{
            type: "pie",
            startAngle: 150,
            data: [{
                category: "Asia",
                value: 53.8,
                color: "#9de219"
            }, {
                category: "Europe",
                value: 16.1,
                color: "#90cc38"
            }, {
                category: "Latin America",
                value: 11.3,
                color: "#068c35"
            }, {
                category: "Africa",
                value: 9.6,
                color: "#006634"
            }, {
                category: "Middle East",
                value: 5.2,
                color: "#004d38"
            }, {
                category: "North America",
                value: 3.6,
                color: "#033939"
            }]
        }],
        tooltip: {
            visible: true,
            format: "{0}%"
        }
    });

    $("#chart2").kendoChart({
        title: {
            text: "Site Visitors Stats \n /thousands/"
        },
        legend: {
            visible: false
        },
        seriesDefaults: {
            type: "bar"
        },
        series: [{
            name: "Total Visits",
            data: [56000, 63000, 74000, 91000, 117000, 138000]
        }, {
            name: "Unique visitors",
            data: [52000, 34000, 23000, 48000, 67000, 83000]
        }],
        valueAxis: {
            max: 140000,
            line: {
                visible: false
            },
            minorGridLines: {
                visible: true
            },
            labels: {
                rotation: "auto"
            }
        },
        categoryAxis: {
            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
            majorGridLines: {
                visible: false
            }
        },
        tooltip: {
            visible: true,
            template: "#= series.name #: #= value #"
        }
    });

</script>

