@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHome.cshtml";
}
@section slider{

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Statistic","ManagerHome")">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">STATISTICAL</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("DeadLine","ManagerHome")">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">SET DEADLINE</span>
        </a>
    </li>

}

<div id="ordersGrid"></div>
<div style="padding-top: 20px; float: right">

    <input type="button" id="btn-download" class="btn btn-danger btn-lg"  onclick="DownloadFile()" value="Download File" />

</div>

<script id="status-template" type="text/x-kendo-template">
    <div class="d-flex w-100 text-center">
        <a title="Edit" class="button buttonEdit rounded-circle btn-i-center"><i class="fa fa-edit" aria-hidden="true"></i></a>
        <a title="Remove" class="button buttonEdit rounded-circle btn-i-center ml-2"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
</script>

<script>
    var arrSelect = [];

    $(function () {

        $("#kendoVersion").text(kendo.version);
        var gridDataSource = new kendo.data.DataSource({
            transport: {
                read: function (options) {
                    $.ajax({
                        url: '@Url.Action("GetSubmissionForManager", "ManagerHome")',
                        dataType: "json",
                        success: function (result) {
                            options.success(result);
                        },
                        error: function (result) {
                            options.error(result);
                        }
                    });
                }
            },
            schema: {
                model: {
                    fields: {
                        Sub_ID: { type: "number" },
                        Sub_Title: { type: "string" },
                        Description: { type: "string" },
                        Department_ID: { type: "number" },
                    }
                }
            },
            pageSize: 10,
            sort: {
                field: "Created_Date",
                dir: "desc"
            }
        });

        $("#ordersGrid").kendoGrid({
            dataSource: gridDataSource,
            height: 550,
            pageable: {
                refresh: false,
                pageSizes: [10, 50, 100],
            },
            scrollable: true,
            sortable: true,
            filterable: false,
            change: onChange,
            columns: [
            {
                selectable: true,
                width: "50px"
            },
            {
                field: "Sub_ID",
                title: "ID",
                width: 160
            }, {
                field: "Sub_Title",
                width: 160,
                title: "TITLE"
            }, {
                field: "Department_Name",
                title: "DEPARTMENT",
                width: 200
            }, {
                field: "Created_Date",
                title: "CREATED DATE",
                format: "{0:dd MMMM yyyy}"
            }, {
                field: "Description",
                title: "DESCRIPTION"
            }]
        });

    });

    function onChange(e) {
        arrSelect = [];
        var rows = e.sender.select();
        rows.each(function (e) {
            var grid = $("#ordersGrid").data("kendoGrid");
            var dataItem = grid.dataItem(this);
            arrSelect.push(dataItem.Sub_ID);
        })
        console.log("Array>> ", arrSelect)

        if (arrSelect.length > 0) {
            $("#btn-download").removeAttr('disabled');
        } else {
            $("#btn-download").attr('disabled', true);
        }
    };

    function DownloadFile() {
        var formData = new FormData();

        for (var i = 0; i < arrSelect.length; i++) {
            formData.append('ListSubID', arrSelect[i]);
        }       
        var s = "";
        for (var i = 0; i < arrSelect.length; i++) {
            s += "&arrSelect=" + arrSelect[i];
        }
        location.href = '/ManagerHome/DownloadZipFiles/?' + s;
    }
</script>

