<div style="text-align: center !important">
    <p>
        Please contact Student Affairs for instructions on changing information. For any information, please contact the phone number: <b>+88 8888 8888</b>
    </p>
</div>

