<div class="row">
    <div class="col-12">
        <h4 class="tt-delete-plan ">
            Mày có muốn xóa bài của mày không?
        </h4>
    </div>
    <div class="col-12 mt-20px">
        <div class="row">
            <div class="col-6 pr-10px"><button class="w-100 btn btn-cannel-contribution" id="closeDeleteVisit">MÉO!</button></div>
            <div class="col-6 pl-10px"><button class="w-100 btn btn-save-contribution" id="saveVisit">XÓA CMM ĐI!</button></div>
        </div>
    </div>
</div>
